<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-notificacion-heading" jhiTranslate="gatewaystoreApp.notificacionmicroservicioNotificacion.home.createOrEditLabel">Create or edit a Notificacion</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.notificacionmicroservicioNotificacion.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" formControlName="fecha" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecha')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.notificacionmicroservicioNotificacion.mensaje" for="field_mensaje">Mensaje</label>
                    <input type="text" class="form-control" name="mensaje" id="field_mensaje"
                           formControlName="mensaje"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.notificacionmicroservicioNotificacion.fechaSeed" for="field_fechaSeed">Fecha Seed</label>
                    <div class="d-flex">
                        <input id="field_fechaSeed" type="datetime-local" class="form-control" name="fechaSeed" formControlName="fechaSeed" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fechaSeed')!.invalid && (editForm.get('fechaSeed')!.dirty || editForm.get('fechaSeed')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaSeed')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fechaSeed')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaystoreApp.notificacionmicroservicioNotificacion.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
